VITE_TMDB_READ_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzZTllMjBiMzE1OGEzYzM0YTIyYTIwYjIyOTYxZmFlZSIsInN1YiI6IjY2MDJmNTZiMDQ3MzNmMDE3ZGYwYTIzZiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.Rn4JZYT5rJcwwDN_ns9DVXcSZ5SGa86ugCnDP_M3iEg
VITE_OPENSEARCH_ENABLED=false

# make sure the cors proxy url does NOT have a slash at the end
VITE_CORS_PROXY_URL=https://fastidious-pika-0db6b4.netlify.app

# make sure the domain does NOT have a slash at the end
VITE_APP_DOMAIN=http://localhost:5173
VITE_BACKEND_URL=https://backend-production-a5b8.up.railway.app
